.custom-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.custom-flex-item {
    margin: 20px;
}

.demo-card-wide > .mdl-card__title {
	color: #fff;
	background: #3E4EB8;
}

.mdl-layout-title {
	color: #fff;
	text-decoration: none;
}

.screen-name-in-header {
    text-transform:capitalize;
    margin-left: 10px;
}

.mdl-textfield {
    width: 100%;
}

.margin-top-10 {
    margin-top: 10px;
}

.text-align-right {
    text-align: right;
}

.display-none {
    display: none;
}

.errorMessage {
    color: red;
    text-align: center;
}

.my-tab-active {
    color: rgba(0,0,0,.87);
}

.my-tab-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(63,81,181);
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}